%h1 Welcome to Shardo! 
%p A Food Sharing app in Binghamton University which helps to minimize food wastage
%h3 New User?
//%p signup
//%p login
%a.button{:href => "homepage/signup"} signup
%h3 Already have an account?
%a.button{:href => "#"} login
= link_to "signup with github" , '/auth/github'